In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('amostras.csv', index_col=0)

In [7]:
display(df.head())

          Tempo  ADC0_tensao  ADC0_corrente  ADC1_tensao  ADC1_corrente
0  1.702060e+12     0.009775       0.000054          NaN            NaN
1  1.702060e+12          NaN            NaN     0.004888       0.000005
2  1.702060e+12     0.009775       0.000054          NaN            NaN
3  1.702060e+12          NaN            NaN     0.004888       0.000005
4  1.702060e+12     0.009775       0.000054          NaN            NaN